* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0.2rem rgba(194, 225, 251, 0.5);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik', sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
}

input::placeholder {
	color: #aaa;
}

.container {
	width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}
